<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>AddMovieToCart</title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <header>
                <h1>Movie To Cart Page</h1>
        </header>
        <h2>Add Movie</h2>
        <form action="/addtoCart" method="POST">
        
                        <label for="movie">Movie Name:</label>
                        <input type="text" id="movie" name="movie" readonly>
                        <br>
                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" readonly>                        
                        <br>
                        <label for="description">Event Description:</label>
                        <input type="text" id="description" name="description" readonly>
                        <br>
                        <label for="genre">Genre:</label>
                        <input type="text" id="genre" name="genre" readonly>
                        <br>
                        <label for="release">Release:</label>
                        <input type="text" id="release" name="release" readonly>
                        <br>
                        <label for="distributor">Distributor:</label>
                        <input type="text" id="distributor" name="distributor" readonly>
                        <br>
                        <label for="language">Language:</label>
                        <input type="text" id="language" name="language" readonly>
                        <br>
                        <img src= image id="image" name="image" width="437" height="567" readonly>

                        <label for="qty">Quantity:</label>
                        <input type="number" id="qty" name="qty">

                        <input type="text" id="customer" value="customer"name="customer" hidden>
                        <button type="submit">Add to Cart</button>


        </form>
        <p>Not interested? Return to <a href="/search">here</a> Instead</p>
        <br>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/editEvent.js"></script>
</body>

</html>
