<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../css/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
</head>
<body>
            <h1>J & L Movies</h1>

            <section>
                <p>Welcome to J&L Movies.</p>
                <nav>
                    <div id="navigation">
                    <ul>
                        <li><a class="fiona" href="/">Home</a></li>
                        <li><a href="/rent">Rent</a></li>
                        <li class="unprotectedSection"><a href="/login">Login</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/Search">Search</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li class="protectedSection"><button class="logoutBtn">Logout now</button></li>

                      </ul>
                    </div> 
                </nav>
                </section>
                
        
       <h2>List of Reviews for movie</h2>
            <aside class="moviereviews">


    </section>
    
    

    <script src="/js/jquery.min.js"></script>
    <script src="/js/allreviews.js"></script>
</body>
</html>