<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
</head>
<body>
    <section class="protectedSection">
        
        <section>
            <h1>New releases/Blockbuster hits</h1>
 
            <aside class="cart">

            </aside>
        </section>  
<button class="logoutBtn">Logout now</button>
    </section>
    <section class="unprotectedSection">
        This page requires a logged in account. <br>
         Click <a href="/register">here</a> to register <br>
         Click <a href="/login">here</a> to login 

    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/cart.js"></script>
</body>
</html>