<html>

<head>
    <title>Login Page</title>
</head>

<body>
    <h1>Login</h1>
    <section>
        <form onsubmit="return login();">
            <label for="email">email</label>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </section>
<section>
    <p>Don't have an account? Register <a href="/register">here</a> Instead!</p>
    
</section>
    <div class="statusMessage"></div>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/index.js"></script>
</body>

</html>