<html>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
<head>
    <title>Login Page</title>
</head>

<body>

    <nav>
        <div id="navigation">
        <ul>
            <li><a class="fiona" href="/">Home</a></li>
            <li class="unprotectedSection"><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/Search">Search</a></li>
            <li><a href="/cart">Cart</a></li>
            <li class="protectedSection"><button class="logoutBtn">Logout now</button></li>
          </ul>
        </div>
    </nav>
    <h1>Login</h1>
    <section>
        <form onsubmit="return login();">
            <label for="email">email</label>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </section>
<section>
    <p>Don't have an account? Register <a href="/register">here</a> Instead!</p>
    
</section>
    <div class="statusMessage"></div>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/index.js"></script>
</body>

</html>