<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 13 - Authentication</title>
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
</head>
<body>
    <section class="protectedSection">
        This page will be used to allow logged in users to rent movies.





        
        <button class="logoutBtn">Logout now</button>
    </section>
    <section class="unprotectedSection">
        This page requires a logged in account. <br>
         Click <a href="/register">here</a> to register <br>
         Click <a href="/login">here</a> to login 

    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>