<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src='/js/review.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One stop movie portal</title>
    <style>
      .protectedSection,.unprotectedSection {
          display: none;
      }
  </style>
    <body class="various">
        <h1>J & L Movies</h1>
        <aside>
            <img src="/resources/FFJ.png" class="kiev">
        </aside>
        <p>Welcome to J&L Movies.</p>
        <nav>
            <div id="navigation">
            <ul>
                <li><a class="fiona" href="/">Home</a></li>
                <li><a href="/rent">Rent</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Search">Search</a></li>
                <li><a href="/review">Review</a></li>
              </ul>
            </div>
        </nav>
<br />
<br />
<section class="protectedSection">
  <form onsubmit="return addreview();">

    <label for="movie">Movie Name:</label>
    <input type="text" id="movie" name="movie" readonly>
    <br>
    <label for="movieId">MovieId:</label>
    <input type="text" id="movieId" name="movieId" readonly>
    <br>
    <label for="movieId">MovieId:</label>
    <input type="text" id="movieId" name="movieId" readonly>
    <br>
    <label for="price">Price: $</label>
    <span class="price"></span><br>
    <br>
    <label for="description">Description:</label>
    <span class="description"></span><br>
    <br>
    <label for="genre">Genre:</label>
    <span class="genre"></span>
    <br>
    <label for="release">Release:</label>
    <span class="release"></span>
    <br>
    <label for="distributor">Distributor:</label>
    <span class="distributor"></span>
    <br>
    <label for="language">language:</label>
    <span class="language"></span>
    <br>


    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject">
    <br>
    
    <label for="reviewcomment">Review Comment:</label>
    <input type="text" id="reviewcomment" name="reviewcomment">
    <br>

    <label for="rating">Review Rating:</label>

    <select id="rating" name="rating">
      <option value="1">1 star</option>
      <option value="2">2 star</option>
      <option value="3">3 star</option>
      <option value="4">4 star</option>
      <option value="5">5 star</option>
    </select>
    
  <br>
          <input type="submit" class="submit" value="submit">
          </form>
        </section>

        <section class="unprotectedSection">
          This page requires a logged in account. <br>
           Click <a href="/register">here</a> to register <br>
           Click <a href="/login">here</a> to login 
  
      </section>

        
        </body>

        </html>