<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src='../js/search.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One stop movie portal</title>
   
    <body class="various">
        <h1>J & L Movies</h1>
        <aside>
            <img src="/resources/FFJ.png" class="kiev">
        </aside>
        <p>Welcome to J&L Movies.</p>
        <nav>
            <div id="navigation">
            <ul>
                <li><a class="fiona" href="/">Home</a></li>
                <li><a href="/rent">Rent</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact"">Contact</a></li>
                <li><a href="/Search"">Search</a></li>
                <li><a href="/review"">Review</a></li>
              </ul>
            </div>
        </nav>
<br />
<br />
        <section class="first">
            <form onsubmit="return search()">
            <div class="">Search your movie: </div>
            <p><input type="text" name="searchbox" id="search"></p><br>
            <button class="search">Enter</button>
          </form>
        </section>

        <br>
        <section>

          <form action="/genre/search" method="POST">
            <label for="genre">Genre Type:</label><br>
            <input type="text" id="genre" name="genre"><br>
            <input type="submit" value="Submit">
          </form>
        </section>


        <form action="/movies/search" method="POST">
          <label for="movie">Movie Title:</label><br>
          <input type="text" id="movie" name="movie"><br>
          <input type="submit" value="Submit">
        </form>
      </section>
       

        <aside class="superman">
         
        </aside>


        </body>

        </html>