h1{
    color: blueviolet;
    text-align: center;
}

li a {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li a:hover, li a:active {
    background-color: orangered;
    color: white;
  }

 li{
     display: inline;
 }

 #navigation{
     align-content:flex-end;
 }
 img{
     width: 100px;
     height: 100px;
 }

 .movies{
     background-color: chartreuse;
 }

 .various {
     background-image: url("/resources/images\ for\ project/");
 }